// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-cover {
	height: 100vh;
	width: 100%;
	background-image: image_url('Ben_Granas_Atacama_M.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	display: flex;
	position: relative;
	
	.name-row{
		width:450px;
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.name-holder {

		position: relative;
		border-top: 7px solid white;
		border-bottom: 7px solid white;

		.right-border {
			border-right: 7px solid white;
		  position: absolute;
		  bottom: 50%;
		  top: 0;
		  right: 0;	
		}

		.left-border {
			border-left: 7px solid white;
		  position: absolute;
		  top: 50%;
		  bottom: 0;		
		}

		h1 {
			color: white;
			font-size: 72px;

			.lastn {
				display: block;
			}
		}
	}

	.img-credits {
		position: absolute;
		bottom: 20px;
		left: 20px;

		i {
			color: white;
			z-index: 2000;
		}
		span {
			color: white;
			font-size: 16px;
		}
	}
}

@media only screen and (max-width: $xs-max-width-landscape) { //xs
	.background-cover {
		background-image: image_url('Ben_Granas_Atacama_mobile.jpg');
		.name-row {
			width: 300px;
			margin-top: 10%;
		}
		.name-holder {

			h1 {
				font-size: 60px;
			}
		}
	}
}

	@media only screen and (max-width: $xs-max-width-portrait) { // xs portrait only
		.background-cover {
			.name-row {
				width: 300px;
				margin-top: 30%;
			}
		}

	}