.intro {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
	span {
		font-size: 60px;
		margin-bottom: 25px;
	}

	.row {
		margin-top: 20px;
	}

	.resume-nav {
		list-style-type: none;
		line-height: 24px;

		.resume-nav-item {
			display: inline;
			text-transform: uppercase;
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

section {
	margin-top: 40px;

	.row {
		margin-bottom: 35px;
	}
	.sub-title {
		text-transform: uppercase;
		border-bottom: 1px solid black;
	}

	.location-holder {
		margin-top: 10px;
		margin-bottom: 10px;
		i {
			color: $dark-blue;
		}

		p {
			display: inline;
    	margin-left: 10px;
		}
	}
	
	li {
		line-height: 22px;
	}
}

.experience-section {

	.resume-item-container {
		border-left: 1px solid black;
	}
}

@media only screen and (max-width: $xs-max-width-landscape) { //xs
	.intro {
		span {
			font-size: 54px;
		}

	}

	section {
		.details {
			text-align: left;
		}
	}

	.experience-section {

		.resume-item-container {
			border-left: none;
		}
	}

	.xs-seperator {
		border-top: 1px solid gray;
	}
}