<div class="container-fluid lower">
	<div class="row">
		<div class="col-sm-12 col-md-5">
			<div class="photo-container">
				<%= image_tag('Ben-Granas-headshot.jpg', class: 'headshot') %>
			</div>
		</div>
		<div class="col-sm-12 col-md-7 first-xs last-md">
			<div class="text-container" itemscope itemtype="http://schema.org/Person">
				<h2>Hi, I'm Ben Granas.</h2>
				<p>I'm a builder, marketer, product manager, traveler, photographer, and life-long learner.</p>
				<p>I've traveled to 48 countries on 6 continents and currently reside in Los Angeles, CA.</p>
				<p>Get in touch through the links below, or send an email to ben [at] bengranas [dot] com.</p>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-2 text-center">
					<a href="https://www.linkedin.com/in/ben-granas-142395a" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
				</div>
				<div class="col-xs-3 col-md-2 text-center">
					<a href="https://github.com/bgranas" target="_blank"><i class="fa fa-github fa-3x"></i></a>
				</div>
				<div class="col-xs-3 col-md-2 text-center">
					<a href="https://angel.co/ben-granas" target="_blank"><i class="fa fa-angellist fa-3x"></i></a>
				</div>
				<div class="col-xs-3 col-md-2 text-center">
					<a href="mailto:ben@bengranas.com"><i class="fa fa-envelope-o fa-3x"></i></a>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>