<div class="container-fluid lower">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="photo-container">
				<%= image_tag('Ben-Granas-headshot.jpg', class: 'headshot') %>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="text-container">
				<h2>Hi, I'm Ben.</h2>
				<p>I'm an entrepreneur, traveler, and builder</p>
			</div>
		</div>
	</div>
</div>