<div class="background-cover">
	<div class="name-row">
		<div class="name-holder">
			<div class="left-border"></div>
			<h1 class="name">
				<span class="firstn">Ben</span>
				<span class="lastn">Granas</span>
			</h1>
			<div class="right-border"></div>
		</div>
	</div>
	<div class="img-credits">
		<span><i class="fa fa-map-marker fa-2" aria-hidden="true"></i>Atacama Desert, Chile</span>
	</div>
</div>
