<div class="container-fluid">
<div class="intro">
	<span class="name">Ben Granas</span>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 text-center">
			<a href="https://www.linkedin.com/in/ben-granas-142395a" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
		</div>
		<div class="col-xs-2 col-sm-1 text-center">
			<a href="https://github.com/bgranas" target="_blank"><i class="fa fa-github fa-3x"></i></a>
		</div>
	</div>
</div>

<section class="experience-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Entrepreneurial and Corporate Experience</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 details">
			<p>November 2015 - Current</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>San Jose, CA, USA</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>Santiago, Chile</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3><a href="https://triphappy.com/">TripHappy</a></h3>
			<h4>Founder | Head of Product, Operations, and Marketing</h4>
			<p>Text about what TripHapp is and what my general job description was. What was I in charge of and what did I manage.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 xs-seperator">
			<p>June 2015 - Current</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>San Jose, CA, USA</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3><a href="https://www.soulceramics.com/">SoulCeramics.com</a></h3>
			<h4>Founder | Head of Operations and Marketing</h4>
			<p>Text about what TripHapp is and what my general job description was. What was I in charge of and what did I manage.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 xs-seperator">
			<p>July 2014 - May 2015</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>New York City, NY, USA</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>J.P. Morgan</h3>
			<h4>Associate Product Manager | Prime Brokerage</h4>
			<p>Text about what TripHapp is and what my general job description was. What was I in charge of and what did I manage.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 xs-seperator">
			<p>August 2012 - July 2014</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>New York City, NY, USA</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>London, UK</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>J.P. Morgan</h3>
			<h4>Analyst | Commercial and Investment Bank</h4>
			<p>Text about what TripHapp is and what my general job description was. What was I in charge of and what did I manage.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>
	</div>
</section>

<section class="skills-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Skills</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h4>Product Management</h4>
					<ul class="skills-list">
						<li>Skill 1</li>
						<li>Skill 2</li>
						<li>Skill 3</li>
						<li>Skill 4</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>Digital Marketing</h4>
					<ul class="skills-list">
						<li>Skill 1</li>
						<li>Skill 2</li>
						<li>Skill 3</li>
						<li>Skill 4</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>Web Application Development</h4>
					<ul class="skills-list">
						<li>Skill 1</li>
						<li>Skill 2</li>
						<li>Skill 3</li>
						<li>Skill 4</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="education-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Education</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2">
			<p>August 2008 - May 2012</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>New York City, NY, USA</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>London, UK</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>Shanghai, China</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>New York University, Leonard N. Stern School of Business</h3>
			<h4>Bachelors of Science in Finance</h4>
			<h4>Bachelors of Science in International Business</h4>
			<h4>Minor in Middle Eastern and Islamic Studies</h4>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>
	</div>
</section>

<section class="accomplishments-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Other</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<p>Talk about travel here</p>
		</div>
	</div>
</section>
</div>