<div class="container-fluid">
<div class="intro">
	<span class="name">Ben Granas</span>
	<div class="row">
		<div class="col-xs-3 col-sm-1 col-sm-offset-4 text-center">
			<a href="https://www.linkedin.com/in/ben-granas-142395a" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
		</div>
		<div class="col-xs-3 col-sm-1 text-center">
			<a href="https://github.com/bgranas" target="_blank"><i class="fa fa-github fa-3x"></i></a>
		</div>
		<div class="col-xs-3 col-sm-1 text-center">
			<a href="https://angel.co/ben-granas" target="_blank"><i class="fa fa-angellist fa-3x"></i></a>
		</div>
		<div class="col-xs-3 col-sm-1 text-center">
			<a href="mailto:ben@bengranas.com"><i class="fa fa-envelope-o fa-3x"></i></a>
		</div>
	</div>
</div>

<section class="experience-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Entrepreneurial and Corporate Experience</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 details">
			<p>September 2017 - May 2019</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>Los Angeles, CA, USA</p>
				<i class="fa fa-map-marker fa-lg"></i><p>Delray Beach, FL, USA</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>LaunchPotato</h3>
			<h4>Product Lead | FinanceBuzz.com</h4>
			<p>Product lead for a high-growth personal finance site. I've strengthened my marketing and product management skills, as well as gained managerial experience.</p>
			<ul class="exp-list">
				<!-- <li class="exp-list-item">Increased on-site revenue 30x YoY through new tools and user experiences</li> -->
				<li class="exp-list-item">Led a complete redesign of the site, working across design and development teams to push out the changes before the deadline</li>
				<li class="exp-list-item">Developed a content marketing and SEO strategy which led to a 2.5x increase in organic revenue</li>
				<li class="exp-list-item">Drove business development efforts and built over 50 brand partnerships</li>
				<li class="exp-list-item">Expanded product from a single revenue vertical to more than 5, covering all aspects of personal finance</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 details">
			<p>November 2015 - May 2018</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>San Jose, CA, USA</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>Santiago, Chile</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3><a href="https://triphappy.com/" target="_blank">TripHappy (Acquired by Trivago)</a></h3>
			<h4>Founder | Head of Product, Operations, and Marketing</h4>
			<p>Founder of innovative consumer travel planning startup built using big data. Responsible for all non-engineering aspects of the product, as well as all marketing and operational needs. I developed strong analytical skills in designing and implementing marketing campaigns and user testing. I also gained organizational and leadership experience in hiring and managing a marketing team.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Led the product development strategy for a consumer-facing travel planning startup</li>
				<li class="exp-list-item">Worked with internal engineering and external UI/UX teams to bring 3 innovative travel planning
																	tools to market over 18 months</li>
				<li class="exp-list-item">Designed and built data-focused product testing and feedback mechanisms, including A/B testing,
																	usage analytics, and user surveys</li>
				<li class="exp-list-item">Executed the digital marketing, content, and search engine optimization strategies, growing traffic to over 20,000 unique monthly users</li>
				<li class="exp-list-item">Managed a team of 9 freelance marketers and writers</li>
				<li class="exp-list-item">Generated major media coverage, including being named to Travel + Leisure’s Top Travel Tools
																	for 2017</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 xs-seperator">
			<p>June 2015 - September 2017</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>San Jose, CA, USA</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3><a href="https://www.soulceramics.com/" target="_blank">SoulCeramics.com</a></h3>
			<h4>Founder | Head of Operations and Marketing</h4>
			<p>Founder and General Manager of one of the largest industrial kiln ecommerce sites. I grew sales from 0 to over $100,000 in the first year, and to over $400,000 in the second year of operation.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Grew niche ecommerce site to over $400,000 in annual revenue in less than two years</li>
				<li class="exp-list-item">Designed and led digital marketing and advertising strategies with over 600% ROI</li>
				<li class="exp-list-item">Cultivated relationships with 4 external supply partners</li>
				<li class="exp-list-item">Managed a team of 3 freelance employees across customer service, marketing, and writing</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 xs-seperator">
			<p>July 2014 - May 2015</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>New York City, NY, USA</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>J.P. Morgan</h3>
			<h4>Associate Product Manager | Prime Brokerage</h4>
			<p>Product Manager within the Cash and Liquidity Management team in the Prime Brokerage. I was part of a team that managed both the strategic and day-to-day operations of a critical system with several systemically important clients.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Supported the lead Product Manager of a proprietary investment platform with over $1 billion in
daily volume</li>
				<li class="exp-list-item">Drove strategy to implement major changes to the platform as a result of financial regulation</li>
				<li class="exp-list-item">Facilitated collaboration across sales, implementation, engineering, finance, and legal teams to
develop new features and support clients</li>
				<li class="exp-list-item">Interfaced with external customers and vendors to enhance product features</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2 xs-seperator">
			<p>August 2012 - June 2014</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>New York City, NY, USA</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>London, UK</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>J.P. Morgan</h3>
			<h4>Analyst | Commercial and Investment Bank</h4>
			<p>Analyst within the Corporate and Investment Bank graduate rotational program. I gained experience in multiple different aspects of the banking product cycle, including client-facing positions. As a top performing analyst, I was selected from a class of over 80 others to spend 6 months in a new role in the London, UK office.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Rotated through 4 positions in Product, Risk, and Sales in New York and London</li>
				<li class="exp-list-item">Participated in sales discussions on proposed deals valued at over $500 million</li>
			</ul>
		</div>
	</div>
</section>

<section class="skills-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Skills</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h4>Product Management</h4>
					<ul class="skills-list">
						<li>Idea creation</li>
						<li>Market and competitor analysis</li>
						<li>Strategy and roadmapping</li>
						<li>Performance evaluation and testing</li>
					</ul>
					<h5>Tools used</h5>
					<ul class="skills-list">
						<li>Google Analytics</li>
						<li>User tracking software</li>
						<li>User surveys</li>
						<li>UX wireframing</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>Digital Marketing</h4>
					<ul class="skills-list">
						<li>Content marketing</li>
						<li>Viral marketing</li>
						<li>Digital advertising</li>
						<li>Social media marketing</li>
					</ul>
					<h5>Tools used</h5>
					<ul class="skills-list">
						<li>Google Adwords</li>
						<li>Bing Ads</li>
						<li>Facebook, Instagram, and Reddit Ads</li>
						<li>Content and back link analysis tools</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>eCommerce Management</h4>
					<ul class="skills-list">
						<li>Site development</li>
						<li>Vendor relationships</li>
						<li>Usage analytics and testing</li>
						<li>Pricing strategy</li>
					</ul>
					<h5>Tools used</h5>
					<ul class="skills-list">
						<li>HTML + CSS</li>
						<li>Javascript</li>
						<li>Ruby on Rails</li>
						<li>Google Tag Manager</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="education-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Education</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-2">
			<p>August 2008 - May 2012</p>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>New York City, NY, USA</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>London, UK</p>
			</div>
			<div class="location-holder">
				<i class="fa fa-map-marker fa-lg"></i><p>Shanghai, China</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 resume-item-container">
			<h3>New York University, Leonard N. Stern School of Business</h3>
			<h4>Bachelors of Science in Finance</h4>
			<h4>Bachelors of Science in International Business</h4>
			<h4>Minor in Middle Eastern and Islamic Studies</h4>
			<ul class="exp-list">
				<li class="exp-list-item"><strong>GPA:</strong> 3.7 / 4.0</li>
				<li class="exp-list-item"><strong>Major GPA:</strong> 4.0 / 4.0</li>
				<li class="exp-list-item"><strong>Honors:</strong> Founder’s Day Scholar, Dean’s List Honors</li>
			</ul>
		</div>
	</div>
</section>

<section class="accomplishments-section">
	<div class="row">
		<div class="sub-title col-xs-12 col-sm-8 col-sm-offset-2">
			<h2>Projects</h2>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h4><a href="https://github.com/bgranas/get-contact-details" target="_blank">Contact Info Finder</a></h4>
					<p>A tool to easily pull out contact email addresses and social media profiles from a list of URLs. Very useful for public relations outreach or client prospecting.</p>
					<p><strong>Tech:</strong> Ruby on Rails; PostgreSQL</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4><a href="https://github.com/bgranas/ecomm-competitor-analysis" target="_blank">Competitor Price Intelligence (work in progress)</a></h4>
					<p>A tool to monitor and compare prices of similar products on competitors' sites. Uses the fuzzy-matching algorithm to detect product similarities, and a dashboard to easily import sites to monitor. Future versions will allow for automatic notifications of price changes and integration with eCommerce platforms.</p>
					<p><strong>Tech:</strong> Ruby on Rails; PostgreSQL</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4><a href="https://github.com/bgranas/product-reviews" target="_blank">Product Review Analyzer (work in progress)</a></h4>
					<p>Scrapes and analyzes product reviews from public sites like Amazon. Basic natural language processing algorithms built to tokenize, parse, and score sentences based on shared words to find critical reviews. Very useful for eCommerce companies to monitor what customers are saying about their products as well as competitor's products, and to find common complaints or benefits to address in marketing. Future versions will utilize Python's nltk for more advanced analysis. </p>
					<p><strong>Tech:</strong> Ruby; PostgreSQL</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<h4><a href="https://github.com/bgranas/accommodation-reviews" target="_blank">Accommodation Review Analyzer (work in progress)</a></h4>
					<p>Scrapes and analyzes accommodation reviews to measure individual property and city performance. Very useful for both properties (to determine what their customers are saying and address potential issues) as well as aggregators to find out occupancy rates across a city. Future versions will use natural language processing to identify common themes across reviews, as well as daily inventory measurement to find occupancy trends.</p>
					<p><strong>Tech:</strong> Ruby; PostgreSQL</p>
				</div>
			</div>
		</div>
	</div>
</section>
</div>