<div class="intro">
	<span class="name">Ben Granas</span>
	<ul class="resume-nav">
		<li class="resume-nav-item">Experience</li>
		<li class="resume-nav-item">Skills</li>
		<li class="resume-nav-item">Education</li>
		<li class="resume-nav-item">Accomplishments</li>
	</ul>

</div>

<section class="experience-section">
	<div class="sub-title text-center">
		<h2>Experience</h2>	
	</div>
	<div class="flex-container">
		<div class="left-item-1">
			<p>November 2015 - Current</p>
		</div>
		<div class="right-item-1">
			<h3>TripHappy</h3>
			<h4>Founder | Head of Product, Operations, and Marketing</h4>
			<p>Text about what TripHapp is and what my general job description was. What was I in charge of and what did I manage.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>

		<div class="left-item-2">
			<p>November 2015 - Current</p>
		</div>
		<div class="right-item-2">
			<h3>SoulCeramics.com</h3>
			<h4>Founder | Head of Operations and Marketing</h4>
			<p>Text about what TripHapp is and what my general job description was. What was I in charge of and what did I manage.</p>
			<ul class="exp-list">
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
				<li class="exp-list-item">Bullets about what I did</li>
			</ul>
		</div>
	</div>

</section>